<footer class=" border-top footer text-light fixed-bottom bg-dark mt-5">
    <div class="col-md-4 p-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="~/Themes/images/Logo.png" class="bi" width="30" height="24"> </img>
        </a>
        <span class="mb-3 mb-md-0 ">&copy; 2022 Company, Inc</span>
    </div>

</footer>
