<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand m-1" asp-controller="Home" asp-action="Index"> <img src="~/Themes/images/Logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> AkarSoftware </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" class="active"  asp-action="Index" asp-controller="Personel">Personel İşlemleri </a>
            </li>
        </ul>
    </div>
</nav>