@section style {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
}

<div class="row mt-2">
    <div class="col-10">
        <h2>Personeller : </h2>
    </div>
    <div class="col-2 text-right">
        <a asp-controller="Personel" asp-action="Create" class="btn btn-success"> Yeni Personel Oluştur</a>
    </div>
    <hr />
</div>

<br />
<a asp-controller="Personel" asp-action="CreatePersonsXML" class="btn btn-success"> Excell Aktarım </a>

<div class="row">
    <div class="col-12">
        <div class="p-4 border rounded">
            <table id="tblData" class="table table-striped table-dark table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th scope="col">Personel id</th>
                        <th scope="col">Ad </th>
                        <th scope="col">Soyad </th>
                        <th scope="col">Adress</th>
                        <th scope="col">Mail Adresi </th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>

</div>



@section script {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let empdata = [];

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllPersonsWithAjax", "Personel")',
                dataType: 'json',
                success: function (data) {
                    $.each(data.data, function (index, value) {
                        var object = {
                            id: value.id,
                            name: value.name,
                            surName: value.surName,
                            adress: value.adress,
                            mail: value.mail
                        };
                        empdata.push(object);
                    });

                    console.log(empdata); // Veri çekme işlemi tamamlandıktan sonra log'u buraya taşıdık

                    // DataTable'ın document.ready fonksiyonu içinde başlatıldığından emin olun
                    $('#tblData').DataTable({
                        data: empdata,
                        columns: [
                            { data: 'id' },
                            { data: 'name' },
                            { data: 'surName' },
                            { data: 'adress' },
                            { data: 'mail' },

                        ]
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
}


