@section style{
    <style>

        .content {
            flex: 1;
            text-align: center;
            margin-top:25%;
        }
    </style>
}

<div class="content">
    <h1 class="display-4">Hoşgeldiniz!</h1>
    <p class="lead">Personel işlemleri için lütfen devam ediniz. </p>
</div>